<h2>Create a topic</h2>
<form action="/create" method="post">
  <p>
    <label>Name:</label>
    <input type="text" name="topic[name]" id="name"></input>
  </p>
  <p>
    <label>Description:</label>
    <input type="text" name="topic[description]" id="description"></input>
  </p>
    <p>
    <label>URL of Page:</label>
    <input type="text" name="topic[url]" id="url"></input>
  </p>
	<p>
		<input type="submit">
	</p>
</form>